<div class="flex xl:flex-row xl:my-4 md:my-20 xl:ml-20 mx-20 my-20">
  <div class="mt-20 xl:ml-24">
    <h1 class="text-2xl mb-10 font-semibold" [ngStyle]="{fontFamily: 'Poppins'}">Stock</h1>
    <mat-form-field appearance="fill" class="w-80">
      <!-- Stock Picker -->
      <mat-label>Select a Stock</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let stock of stocks" [value]="stock.id">
          {{ stock.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h1 class="text-2xl font-semibold my-10" [ngStyle]="{fontFamily: 'Poppins'}">Select Range</h1>
    <!-- Date Range Picker -->
    <mat-form-field appearance="fill" class="w-80 mr-5">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="mt-10">
      <button class="fill font-medium text-xl sm:mb-10 slide-in xl:mt-8"
        [routerLink]="['/analysis', selected]">Forecast</button>
    </div>
  </div>
  <div class="ml-56 mt-20">
    <img src="assets/main-asset.svg" alt="Main Asset" class="xlImg xl:ml-36 xl:mb-12" />
  </div>
</div>