h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.fill {
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #a3e635;
  width: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 424px) {
  div {
    margin-left: 10px
  }

  img {
    margin-left: 1em;
  }

  button {
    margin-bottom: 1em;
  }
}

.typewriter h1 {
  overflow: hidden;
  border-right: .1em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 3px;
  animation: typing 2.5s steps(60), blink-caret 5s;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: #d97706;
  }
}

.fade-in {
  animation: fadeIn 7.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slide-in {
  animation-name: slide;
  animation-duration: 1.5s;
}

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0;    
  }
}